* {
    padding: 0;
    margin: 0;
}

main {
    width: 80%;
    height: 700px;
    border: 2px solid black;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .menu {
        margin: 20px 0;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .element {
            border: 2px solid grey;
            padding: 10px;
            background-color: rgb(223, 223, 223);
            border-radius: 10px;
        }
    }
}