* {
    margin: 0;
    padding: 0;
}

.boite {
    width: 900px;
    height: 900px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);

    .oreilleGauche {
        position: absolute;
        left: 130px;
        bottom: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 240px;
        height: 240px;
        border-radius: 50%;
        background-color: rgb(78, 78, 78);

        .oreilleGaucheInt {
            width: 210px;
            height: 210px;
            border-radius: 50%;
            background-color: grey;
        }
    }

    .oreilleDroite {
        position: absolute;
        right: 130px;
        bottom: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 240px;
        height: 240px;
        border-radius: 50%;
        background-color: rgb(78, 78, 78);

        .oreilleDroiteInt {
            width: 210px;
            height: 210px;
            border-radius: 50%;
            background-color: grey;
        }
    }

    .visage {
        position: relative;
        width: 550px;
        height: 550px;
        border-radius: 50%;
        background-color: rgb(78, 78, 78);

        .oeilGauche {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: white;
            overflow: hidden;


            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            left: 100px;
            top: 200px;

            .pupilleGauche {
                position: relative;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: black;
            }

            .paupiereGauche {
                width: 104px;
                height: 104px;
                border-radius: 50%;
                background-color: rgb(78, 78, 78);
                position: absolute;
                top: -104px;
                right: -2px;

                animation: descendrePaupiereGauche 4s ease infinite 5s;
            }

            @keyframes descendrePaupiereGauche {
                0% {
                    top: -104px;
                }
                25% {
                    top: -1px;
                }
                50% {
                    top: -104px;
                }
                75% {
                    top: -104px;
                }
                100% {
                    top: -104px;
                }
            }
        }

        .oeilDroit {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: white;

            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            right: 100px;
            top: 200px;
            overflow: hidden;

            .pupilleDroite {
                position: relative;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: black;
            }
            
            .paupiereDroite {
                width: 104px;
                height: 104px;
                border-radius: 50%;
                background-color: rgb(78, 78, 78);
                position: absolute;
                top: -104px;
                right: -2px;

                animation: descendrePaupiereDroite 4s ease infinite 5s;
            }

            @keyframes descendrePaupiereDroite {
                0% {
                    top: -104px;
                }
                25% {
                    top: -1px;
                }
                50% {
                    top: -104px;
                }
                75% {
                    top: -104px;
                }
                100% {
                    top: -104px;
                }
            }
        }
        
        .nez {
            height: 180px;
            width: 120px;
            background-color: pink;
            border-radius: 60px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            overflow: hidden;

            position: absolute;
            top: 40%;
            left: 39%;

            .narineGauche {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: black;
            }
            
            .narineDroite {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: black;
            }
        }
    }
}